<div class="container">
	<div class="row">
	<div class="col-xs-3"></div>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<h4><p class="text-center"><%=@pin.label %>
			<% if @pin.is_best_offer %>
				</br>
				<p class="text-center"> (This is best offer)</p>
				</br>
			<% end %>
			</p></h4>
			<div class="thumbnail">
      			<%= image_tag @pin.image.url(:medium), class: "center-block img-thumbnail" %>
      				<div class="caption">
        				<h3><p class="text-center"><%= @pin.label %></p></h3>
        				<p><b>Price: <%=@pin.price %> $</b></p>
        				</br>
       					<p><b>Material:</b> <%=@pin.material %></p>
       					<p><b>Description:</b> <%=@pin.description %></p>
       					<br/>
       					<p><a href="#" class="btn btn-default btn-sm" role="button" onclick="add_to_cart(<%=@pin.id%>)">Add to Cart (<%= @pin.price %>$)</a></p>
      				</div>
    		</div>
			
		</div>
	</div>
</div>