<div class="container">
	<div class="row">
	<div class="col-xs-2"></div>
		<div class="col-md-8 col-sm-8 col-xs-12">
			<h2><p class="text-center">Your order</p></h2>
			<p class="text-right"><%= @order.created_at %></p>
			<% 	s1 = @order.order.split(/,/)
				@arr=[]
			    s1.each do |x|
			    	s2 = x.split(/\=/)
			      	s3=s2[0].split(/_/)
			      	arr2=[s3[1], s2[1]]
			      	@arr.push arr2
				end
				@arr.each do |item|
					item[0] = Pin.find(item[0])
				end %>
			<table class="table">
		      	<thead>
			        <tr>
			       	  <th>Product</th>
			       	  <th>Price</th>
			       	  <th>Qty</th>
			       	  <th>Sum</th>
			       	</tr>
			    </thead>
			    <tbody>
			      <%@arr.each do |item|%>
			       	<tr>
			       	  	<td class="col-md-3"><%= image_tag item[0].image.url(:thumb) %></td>
			       	  	<td><%= item[0].price %> $</td>
			       	  	<td><%= item[1] %></td>
			       	 	<td><%= item[0].price.to_f*item[1].to_i %></td>
			       	</tr>		       
			      <% end %>
			      <% if @order.adress!='office' %>
			      <tr>
			       	  <td></td>
			       	  <td></td>
			       	  <td><b>Delivery cost:<b></td>
			       	  <td>5 $</td>
			      </tr>
			      <% end %> 
			      <tr>
			       	  <td></td>
			       	  <td></td>
			       	  <td><b>Total price:<b></td>
			       	  <td><%= @order.order_price %></td>
			       </tr>
		    	</tbody>
		    </table>
		    </br>
		    <p><b>Client information</b></p>
		    <p>Name: <%= @order.last_name%> <%= @order.first_name%></p> 
			<p>Phone: <%= @order.phone%></p>
			<p>Delivery adress: <%= @order.adress%></p>
			<p>Email: <%= @order.email%></p>
			<% if current_user.username=='admin' %>
				<a href="<%= edit_order_path(@order) %>" class="btn btn-default" role="button">Edit order</a>
			<% else %>
				
				
			<% end %>
		<form id="checkout" method="post" action="/checkout">
  <div id="payment-form"></div>
  <input type="submit" value="Pay $10">
</form>

<script src="https://js.braintreegateway.com/js/braintree-2.20.0.min.js"></script>

<script>
  braintree.setup(
    // Replace this with a client token from your server
    "eyJ2ZXJzaW9uIjoyLCJhdXRob3JpemF0aW9uRmluZ2VycHJpbnQiOiI0NDEzZTkwNDczZjYwMGZkNmNlMzc4M2FkMTkzZTVlMGJjZGI4YmViYWYyYzFhNTRkOGViNTA3MDgxNzcxM2FhfGNyZWF0ZWRfYXQ9MjAxNi0wMi0yNFQxNzo1ODo0NC40MTM4ODQ2MTkrMDAwMFx1MDAyNm1lcmNoYW50X2lkPTM0OHBrOWNnZjNiZ3l3MmJcdTAwMjZwdWJsaWNfa2V5PTJuMjQ3ZHY4OWJxOXZtcHIiLCJjb25maWdVcmwiOiJodHRwczovL2FwaS5zYW5kYm94LmJyYWludHJlZWdhdGV3YXkuY29tOjQ0My9tZXJjaGFudHMvMzQ4cGs5Y2dmM2JneXcyYi9jbGllbnRfYXBpL3YxL2NvbmZpZ3VyYXRpb24iLCJjaGFsbGVuZ2VzIjpbXSwiZW52aXJvbm1lbnQiOiJzYW5kYm94IiwiY2xpZW50QXBpVXJsIjoiaHR0cHM6Ly9hcGkuc2FuZGJveC5icmFpbnRyZWVnYXRld2F5LmNvbTo0NDMvbWVyY2hhbnRzLzM0OHBrOWNnZjNiZ3l3MmIvY2xpZW50X2FwaSIsImFzc2V0c1VybCI6Imh0dHBzOi8vYXNzZXRzLmJyYWludHJlZWdhdGV3YXkuY29tIiwiYXV0aFVybCI6Imh0dHBzOi8vYXV0aC52ZW5tby5zYW5kYm94LmJyYWludHJlZWdhdGV3YXkuY29tIiwiYW5hbHl0aWNzIjp7InVybCI6Imh0dHBzOi8vY2xpZW50LWFuYWx5dGljcy5zYW5kYm94LmJyYWludHJlZWdhdGV3YXkuY29tIn0sInRocmVlRFNlY3VyZUVuYWJsZWQiOnRydWUsInRocmVlRFNlY3VyZSI6eyJsb29rdXBVcmwiOiJodHRwczovL2FwaS5zYW5kYm94LmJyYWludHJlZWdhdGV3YXkuY29tOjQ0My9tZXJjaGFudHMvMzQ4cGs5Y2dmM2JneXcyYi90aHJlZV9kX3NlY3VyZS9sb29rdXAifSwicGF5cGFsRW5hYmxlZCI6dHJ1ZSwicGF5cGFsIjp7ImRpc3BsYXlOYW1lIjoiQWNtZSBXaWRnZXRzLCBMdGQuIChTYW5kYm94KSIsImNsaWVudElkIjpudWxsLCJwcml2YWN5VXJsIjoiaHR0cDovL2V4YW1wbGUuY29tL3BwIiwidXNlckFncmVlbWVudFVybCI6Imh0dHA6Ly9leGFtcGxlLmNvbS90b3MiLCJiYXNlVXJsIjoiaHR0cHM6Ly9hc3NldHMuYnJhaW50cmVlZ2F0ZXdheS5jb20iLCJhc3NldHNVcmwiOiJodHRwczovL2NoZWNrb3V0LnBheXBhbC5jb20iLCJkaXJlY3RCYXNlVXJsIjpudWxsLCJhbGxvd0h0dHAiOnRydWUsImVudmlyb25tZW50Tm9OZXR3b3JrIjp0cnVlLCJlbnZpcm9ubWVudCI6Im9mZmxpbmUiLCJ1bnZldHRlZE1lcmNoYW50IjpmYWxzZSwiYnJhaW50cmVlQ2xpZW50SWQiOiJtYXN0ZXJjbGllbnQzIiwiYmlsbGluZ0FncmVlbWVudHNFbmFibGVkIjp0cnVlLCJtZXJjaGFudEFjY291bnRJZCI6ImFjbWV3aWRnZXRzbHRkc2FuZGJveCIsImN1cnJlbmN5SXNvQ29kZSI6IlVTRCJ9LCJjb2luYmFzZUVuYWJsZWQiOmZhbHNlLCJtZXJjaGFudElkIjoiMzQ4cGs5Y2dmM2JneXcyYiIsInZlbm1vIjoib2ZmIn0=",
    "dropin", {
      container: "payment-form"
    });
</script>
		</div>
	</div>
</div>

<script type="text/javascript">
  $(function(){
    cancel_order();
  });
</script>