<div class="container">
	<div class="row">
	<div class="col-xs-2"></div>
		<div class="col-md-8 col-sm-8 col-xs-12">
			<h4>Contacts</h4>
			<h6>You can phone us or send message</h6>
			</br>
				<% if @contact && @contact.errors.any? %>
							<p>
							<% @error=@contact.errors.full_messages.first %>
							</p>
						<% end %>
			<address>
			  <strong>PinShop</strong><br>
			  117463 Russia, Moscow<br>
			  Varshavskoye shosse, 26, 11<br>
			  <abbr title="Phone">P:</abbr> (123) 456-7890
			</address>

			<address>
			  <strong>Email</strong><br>
			  <a href="mailto:#">admiral-f@yandex.ru</a>
			</address>
			</br>
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" >Send message</button>

			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">                                                                              
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="exampleModalLabel">New message</h4>
			      </div>
			        <%= form_for :contact, url: contacts_path do |f| %>
			        	<div class="modal-body">
						<div class="form-group">
						<%= f.label :name, class: "control-label", id: "control-label" %> </br>
						<%= f.text_field :name, class: "form-control" %>		
						</div>
						<div class="form-group">
						<%= f.label :email, class: "control-label", id: "control-label" %> </br>
						<%= f.text_field :email, class: "form-control" %>		
						</div>
						<div class="form-group">
						<%= f.label :message, class: "control-label", id: "control-label" %> 
						<%= f.text_area :message, class: "form-control" %>		
						</div>
						</div>
						<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<%= f.submit "Send message", class: "btn btn-success" %>
						</div>
					<% end %>
			    </div>
			  </div>
			</div>
			</br>
			</br>
			</br>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2249.152120312822!2d37.61931751554753!3d55.686342980535606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54caae93c9701%3A0x817669976361e521!2z0JLQsNGA0YjQsNCy0YHQutC-0LUg0YguLCAyNtGBMTEsINCc0L7RgdC60LLQsCwgMTE3MTA1!5e0!3m2!1sru!2sru!4v1451730439656" width="800" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>

<script type="text/javascript">
		$('#exampleModal').on('show.bs.modal', function (event) {
  			
});
</script>